@import url('https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined');

.material-symbols-outlined {
    font-size: 21px !important;
    position: relative !important;
    top: 3px !important;
}

.label {
    position: relative;
    bottom: 6px;
}